					<td><edit-in-place value="person.name.first"></edit-in-place></td>
                   	<td><edit-in-place value="person.name.last"></edit-in-place></td>
                   <!-- <td><div click-to-edit="person.name.last"></div></td>-->
                    <td>
                    	<button class="btn btn-sm btn-danger" ng-click=deletePerson(person)>delete</button>
                    	<button class="btn btn-sm btn-warning" ng-click=updatePerson(person)>update</button>
                    </td>