	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="cname" placeholder="Company" required>
	  </div>
	  <div class="form-group">
	    <input type="tel" class="form-control" ng-model="mphone" placeholder="Mobile">
	  </div>
	  <div class="form-group">
	    <input type="tel" class="form-control" ng-model="wphone" placeholder="Mobile">
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="skype" placeholder="SkypeID">
	  </div>
	  
	
