<div class="jumbotron vapp text-center">
 <div class="row">
    <h2>Persons filed: <span class="label label-info">{{ persons.length }}</span></h2>
 </div>
	<form class="form-inline">
	  <div class="form-group">
        <input type="text" class="form-control" ng-model="fname" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="lname" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" ng-model="dateOfBirth" placeholder="Birthday, e.g. 01.01.1980">
      </div>
	  <button type="submit" class="btn btn-default" ng-click=addPerson()>Add Person</button>
	</form>
</div>

<div id="persons-list" class="row">
    <div class="col-sm-5 col-sm-offset-3">
        <table class="table table-bordered table-hover vtable">
            <caption>Persons list</caption>
            <thead>
                <tr>
                    <th class='t-text'>First</th>
                    <th class='t-text'>Last</th>
                    <th class='t-date'>Birthday</th>
                    
                    <th class='t-controls'></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons">
                    <td><edit-in-place value="person.name.first" update="person"></edit-in-place></td>
                   	<td><edit-in-place value="person.name.last" update="person"></edit-in-place></td>
                   	<td><edit-in-place value="person.dateOfBirth" update="person" type="date"></edit-in-place></td>
                    <td>
                    	<button class="btn btn-xs btn-danger" ng-click=deletePerson(person)><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
	        </tbody>
    </div>
</div>