/* Inline Editor*/
.edit-in-place span {
    cursor: pointer;
    display: block;
}
.edit-in-place input {
   display: none;
   width:120px;
   padding:0 2%;
   margin:0; 
}
.edit-in-place.active span {
    display: none;
}
.edit-in-place.active input {
    display: inline-block;
    
	background: none !important;
	  border-top: none;
	  border-left: none;
	  border-bottom: black inset 1px;
	  border-right: none;
	  outline: none;
}
.edit-in-place.active input[type=date]{
	width:150px;
	height:21px;
}
/*
Table`s styling
*/
.t-controls{
	max-width:60px;
}
.t-text{
	min-width:150px;
}
.t-date{
	min-width:180px;
}


/*
Forms fixes
*/
.cust-form{
	padding:0 20px;
}
/*
Bootstrap fixes
*/
@media screen and (min-width: 768px){
	.jumbotron.vapp{
	  padding: 20px 0;
	}
}